@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.AllCustomers.Count == 0)
{
    <text>We dont have any customers</text>
}

else
{
    <ul>
    
        @foreach (var customer in Model.AllCustomers)
        {
            @Html.ActionLink(customer.Name, $"Details/{customer.Id}", "Customers", customer.Id)
            <br>
        }

    </ul>
}
